<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hgb.spring.transaction.mapper.UserAttrMapper">
  <resultMap id="BaseResultMap" type="com.hgb.spring.transaction.dto.UserAttr">
    <!--@mbg.generated-->
    <!--@Table user_attr-->
    <id column="user_attr_id" jdbcType="BIGINT" property="userAttrId" />
    <result column="attr_name" jdbcType="VARCHAR" property="attrName" />
    <result column="attr_value" jdbcType="VARCHAR" property="attrValue" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_age" jdbcType="INTEGER" property="userAge" />
    <result column="user_sex" jdbcType="VARCHAR" property="userSex" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    user_attr_id, attr_name, attr_value, user_id, user_name, user_age, user_sex
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from user_attr
    where user_attr_id = #{userAttrId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from user_attr
    where user_attr_id = #{userAttrId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="user_attr_id" keyProperty="userAttrId" parameterType="com.hgb.spring.transaction.dto.UserAttr" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user_attr (attr_name, attr_value, user_id,
      user_name, user_age, user_sex
      )
    values (#{attrName,jdbcType=VARCHAR}, #{attrValue,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT},
      #{userName,jdbcType=VARCHAR}, #{userAge,jdbcType=INTEGER}, #{userSex,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="user_attr_id" keyProperty="userAttrId" parameterType="com.hgb.spring.transaction.dto.UserAttr" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user_attr
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="attrName != null">
        attr_name,
      </if>
      <if test="attrValue != null">
        attr_value,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userAge != null">
        user_age,
      </if>
      <if test="userSex != null">
        user_sex,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="attrName != null">
        #{attrName,jdbcType=VARCHAR},
      </if>
      <if test="attrValue != null">
        #{attrValue,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userAge != null">
        #{userAge,jdbcType=INTEGER},
      </if>
      <if test="userSex != null">
        #{userSex,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hgb.spring.transaction.dto.UserAttr">
    <!--@mbg.generated-->
    update user_attr
    <set>
      <if test="attrName != null">
        attr_name = #{attrName,jdbcType=VARCHAR},
      </if>
      <if test="attrValue != null">
        attr_value = #{attrValue,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userAge != null">
        user_age = #{userAge,jdbcType=INTEGER},
      </if>
      <if test="userSex != null">
        user_sex = #{userSex,jdbcType=VARCHAR},
      </if>
    </set>
    where user_attr_id = #{userAttrId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hgb.spring.transaction.dto.UserAttr">
    <!--@mbg.generated-->
    update user_attr
    set attr_name = #{attrName,jdbcType=VARCHAR},
      attr_value = #{attrValue,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      user_name = #{userName,jdbcType=VARCHAR},
      user_age = #{userAge,jdbcType=INTEGER},
      user_sex = #{userSex,jdbcType=VARCHAR}
    where user_attr_id = #{userAttrId,jdbcType=BIGINT}
  </update>

<!--auto generated by MybatisCodeHelper on 2024-09-09-->
  <select id="selectByUserId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user_attr
    where user_id=#{userId,jdbcType=BIGINT}
  </select>
</mapper>
